<!DOCTYPE html>
<html>

<style>
table, th, td {
    border: 1px solid black;
}
</style>

<body>

<center>Memory Usage:</br></br></br>
Internal
</br>
<progress value={{ name1 }} max={{ name2 }}>
</progress>
</br>
<h>{{ name3 }}GB free of {{ name4 }}GB</h>
</br></br></br>




<table style="width:100%">
  <tr>
    <th>Storage</th>
    <th>Total size</th>
    <th>Used Space</th>
    <th>Available</th>
    <th>% Used</th>
  

</tr>
  <tr>
<td>Internal</td>
    <td>{{one}}</td>
    <td>{{two}}</td>
  <td>{{three}}</td>
    <td>{{four}}</td>
  
  
  </tr>

  </tr>

</table>

</center>
</body>
</html>
